<h1>Saved Searches</h1>

<p>"Saved Searches" allow you to create arbitrary selections of contacts and articulate those to other users consistently.</p>
<h2>Use Cases</h2>
<p>You might use a saved search to save a set of contacts you've invited to an event, where you've "tagged" all the invitees with an event-specific tag. As the contacts RSVP, you'd re-run the saved search and add the "RSVP" tag to the invitees. After the event, you'd re-run the invitee saved search and apply a tag for all those who attended.</p>

