.shadow_container.auto_complete .shadow_center_wrapper {
  float:left;
  width:100%;
}              



.shadow_container.auto_complete .shadow_right {
  float:left;
	width:30px;
  margin-left:-30px
}  

.shadow_container.auto_complete .shadow_left {
  float:left;
  margin-left:-100%;
 	width:30px;
}

.shadow_container.auto_complete .se_shadow {
  background:url(../images/autocomplete/se.png);
  height:30px;   
}

.shadow_container.auto_complete .s_shadow {
  background:url(../images/autocomplete/s.png);
  height:30px;
  margin: 0 30px;
}

.shadow_container.auto_complete .sw_shadow {
  background:url(../images/autocomplete/sw.png);
  height:30px;
}

.shadow_container.auto_complete .ne_shadow {
  background:url(../images/autocomplete/ne.png);
  height:14px;
}

.shadow_container.auto_complete .n_shadow {
  height:14px; 
  margin: 0 30px;
}

.shadow_container.auto_complete .nw_shadow {
  background:url(../images/autocomplete/nw.png);
  height:14px;
}

.shadow_container.auto_complete .e_shadow {
  background:url(../images/autocomplete/e.png) repeat-y;
  height:100%;
}

.shadow_container.auto_complete .w_shadow {
  background:url(../images/autocomplete/w.png) repeat-y;
  height:100%;
}

.shadow_container.auto_complete .c_shadow {     
  height:100%;               
  /* Padding is used to set shift values for unfocused window */
  padding:14px 12px 10px 10px;
  /* Maring is used to set shift values for focused window */
  padding:14px 12px 10px 10px;
}      

.shadow_container.auto_complete {
  font-size: 0px;
}

