body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4{
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0em;
}

h1 {
  font-size: 250%;
  font-weight: normal;
}

h2 {
  font-size: 220%;
}

h3 {
  font-size: 180%;
  font-weight: normal;
}

.hidden {
  display: none;
}
.clear {
  clear: both;
}

#page {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  text-align: left;
}

#main-wrapper{
  width: 100%;
  float: left;
}

#main {
  float: left;
  width: 100%;
}

#content-wrapper {
  float: left;
  width: 650px;
  border: 1px solid black;
}

#content {
  padding: 10px;
}

#left-column-wrapper{
  float: left;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
}

#left-column {
  font-size: 90%;
}

#right-column-wrapper {
  float: right;
  width: 209px;
}

#right-column {
  font-size: 90%;
}

#footer {
  font-family: Arial, sans-serif;
  font-size: 10px;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

