body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4{
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0em;
}

h1 {
  font-size: 250%;
  font-weight: normal;
}

h2 {
  font-size: 220%;
}

.toggle:hover{
  cursor: pointer;
}

.shown{
	padding-left: 20px;
	background: url('../icons/arrow_down.png') left center no-repeat; 
}

.hidden{
	padding-left: 20px;
	background: url('../icons/arrow_right.png') left center no-repeat; 
}

h3 {
  font-size: 180%;
  font-weight: normal;
}

.clear {
  clear: both;
}

#page {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: left;
}

#main-wrapper{
  width: 100%;
  float: left;
}

#main {
  float: left;
  width: 100%;
}

#content-wrapper {
  float: left;
  width: 800px;
  border: 1px solid black;
}

#content {
  padding: 10px;
}

#admin-list td{
  border-top: 1px solid #e4e4e4;
}

#left-column-wrapper{
  float: left;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
}

#left-column {
  font-size: 100%;
}

#admin-bar a{
  display: block;
  text-decoration: none;
  padding: 3px;
}

#admin-bar a:hover{
  text-decoration: underline;
  background-color: #eeeeee;
}

#admin-bar a.second-level{
  font-size: 90%;
  padding-left: 1.5em;
}

#exports{
  float: right;
  width: 180px;
}

#right-column-wrapper {
  float: right;
  width: 209px;
}

#right-column {
  font-size: 100%;
}

.asc, .desc{
  background: #e4e4e4 center right url('../icons/bullet_arrow_down.png') no-repeat;
  padding-right: 16px;
}

.desc{
  background-image: url('../icons/bullet_arrow_up.png');
}

#footer {
  font-family: Arial, sans-serif;
  font-size: 10px;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

