/*
 
blue: #47A8CB
eggplant: #C75D6C
green: #68C366
purple: #8C77B0
red: #8D0003

dark gray: #888888
lighter gray: #cccccc

 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 80%;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4{
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0em;
}

h1 {
  font-size: 250%;
  font-weight: normal;
}

h2 {
  font-size: 220%;
}

div,form,input,select{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top:0px;
  margin-bottom: 0px;
}

#exports a, #searchmeta a{
  text-decoration: none;
  padding: 2px 10px 2px 0px;
}

#exports a:hover, #searchmeta a:hover{
  text-decoration: underline;
}

.clarification{
  color: #999999;
}

tr.table-header th{
  background: #eeeeee;
}

.toggle{
  border-top: #47a8cb solid 4px;
  border-left: #47a8cb 1px solid;
}

h1.toggle, h4.toggle{
  margin-bottom: 0px;
}

h4.sub-action{
  display: inline;
  border-style: none;
}

div.sub-action{
  border-style: none;
  padding: .5em;
  margin: 1em;
  background: #efefef;
}

.pui-autocomplete-holder{
  background: #ffffff;
}

.toggle-target{
  margin-top: 0px;
  margin-bottom: 30px;
  border-left: #47a8cb 1px solid;
  padding: 3px;
}

.toggle:hover{
  cursor: pointer;
}

.tags{
  border-color: #68C366;
}

.notes{
  border-color: #8c77b0;
}

.saved-searches{
  border-color: #8D0003;
}

.shown{
  padding: 3px 3px 3px 20px;
  background: url('../icons/arrow_down.png') left center no-repeat; 
}

.hidden{
  padding: 3px 3px 3px 20px;
	background: url('../icons/arrow_right.png') left center no-repeat; 
}

h3 {
  font-size: 180%;
  font-weight: normal;
}

.clear {
  clear: both;
}

#page {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: left;
}

#main-wrapper{
  width: 100%;
  float: left;
}

#main {
  float: left;
  width: 100%;
}

#content-wrapper {
  float: left;
  width: 800px;
  border: 1px solid black;
}

#content {
  padding: 10px;
}

#admin-list td{
  border-top: 1px solid #e4e4e4;
}

#left-column-wrapper{
  float: left;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
}

#left-column {
  font-size: 100%;
}

#admin-bar a{
  display: block;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
}

#admin-bar a:hover{
  text-decoration: underline;
  background-color: #eeeeee;
}

#admin-bar a.second-level{
  font-size: 90%;
  padding-left: 1.5em;
}

#exports{
  float: right;
  width: 180px;
}

#right-column-wrapper {
  float: right;
  width: 209px;
}

#right-column {
  font-size: 100%;
}

.asc, .desc{
  background: #e4e4e4 center right url('../icons/bullet_arrow_down.png') no-repeat;
  padding-right: 16px;
}

.desc{
  background-image: url('../icons/bullet_arrow_up.png');
}

#footer {
  font-family: Arial, sans-serif;
  font-size: 10px;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

