/*
 
blue: #47A8CB
eggplant: #C75D6C
green: #68C366
purple: #8C77B0
red: #8D0003

dark gray: #888888
lighter gray: #cccccc

 */

body {
  font-family: Arial, sans-serif;
  font-size: 90%;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1, h2, h3, h4{
  margin-top: .5em;
  margin-bottom: .5em;
  padding: 0em;
}

#MB_overlay{
  z-index: 1 !important;
}

#MB_window{
  z-index: 2 !important;
}

h1 {
  font-size: 250%;
  font-weight: normal;
}

#error{
  margin: .5em auto;
  padding: .5em;
  background: red;
  color: white;
  font-weight: bold;
  width: 90%;
}

h2 {
  font-size: 220%;
}

div,form,input,select{
  padding-top:0px;
  padding-bottom: 0px;
  margin-top:0px;
  margin-bottom: 0px;
}

#header{
  float: left;
  width: 1180px;
  background-color: #333333;
  padding: 20px 0px 0px 20px;
}

#exports{
  text-align: right;
}

#exports a, #searchmeta a{
  text-decoration: none;
  padding: 2px 10px 2px 0px;
}

#exports a:hover, #searchmeta a:hover{
  text-decoration: underline;
}

.clarification{
  color: #999999;
}

tr.table-header th{
  background: #eeeeee;
}

.toggle{
  border-bottom: 1px solid black;
}

h1.toggle, h4.toggle{
  margin-bottom: 0px;
}

h4.sub-action{
  border-style: none;
  margin-left: 10px;
}

div.sub-action{
  border-style: none;
  padding: .5em;
  margin: 1em;
  background: #efefef;
}

.toggle-target{
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
}

.toggle:hover{
  cursor: pointer;
}

.tags{
  border-color: #68C366;
}

.notes{
  border-color: #8c77b0;
}

.contact-details .notes-tags{
  float: right;
  text-align: center;
  margin: 5px;
}

.contact-details .notes-tags a{
  text-decoration: none;
}
.contact-details .notes-tags div{
  border: 1px solid #cccccc;
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 5px;
}

div.existing-notes{
  height: 300px;
  overflow: auto;
}

table.notes-list{
  width: 95%;
}

tr.note td{
  border-bottom: 1px dotted #cccccc;
  padding-top: 15px;
}

div.note div.meta{
  color: #222222;
  font-size: smaller;
}

div.note{
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fff777;
  border: #cccccc 2px;
  border-style: none none solid solid;
  margin: 10px;
  padding: 15px;
}

div.note div.note-content{
  height: 150px;
  overflow:auto;
}

div.note .priority, div.note .follow-up{
  font-weight: bold;
  color: black;
}

.saved-searches{
  border-color: #8D0003;
}

.shown{
  padding: 3px 3px 3px 20px;
  background: url('../images/twisty_down.png') left center no-repeat; 
}

.hidden{
  padding: 3px 3px 3px 20px;
	background: url('../images/twisty_right.png') left center no-repeat; 
}

h3 {
  font-size: 180%;
  font-weight: normal;
}

.clear {
  clear: both;
}

#page {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: left;
}

#main-wrapper{
  width: 100%;
  float: left;
}

#main {
  float: left;
  width: 100%;
}

#content-wrapper {
  float: left;
  width: 850px; 
  border: 1px solid black;
}

#content {
  padding: 10px;
}

#admin-list td{
  border-top: 1px solid #e4e4e4;
}

.tag-tree li{
  line-height: 24px;
}

.dashboard-list{
  width: 48%;
  height: 23em;
  float: left;
  margin-right: 10px;
}

.contact-details div.list{
  width: 48%;
  float: left;
  margin-left: 10px;
}

.contact-details div.list .list-content{
  height: 15em;
  overflow: auto;
}

.address-row td{
  padding-bottom: 15px;
}

.dashboard-list ul{
  clear: both;
  list-style-type: none;
}

.dashboard-list .details{
  margin-left: 2em;
  font-size: smaller;
}

.dashboard-list .details div{
  display: inline;
}

.dashboard-list li.item{
  padding: 5px;
  height: 2.5em;
}

.dashboard-list li.item div{
  padding: 2px;
}

.fullwidth {
  width: 100%;
  float: none;
  height: 38em;
}

dt {
  font-weight: bold;
}

.pui-autocomplete-holder{
  background: #ffffff;
}

#right-column .pui-autocomplete-holder{
  width: 250px !important;
}

.pui-autocomplete-input{
  width: 300px;
}

span.tag-display a{
  text-decoration: none;
}

span.tag-display {
  height:16px;   
  background:url(../images/autocomplete/item_left.gif) no-repeat;
  font:normal 12px Verdana, Arial, sans-serif;     
}                                                    

span.tag-display span { 
  margin:0;
  padding:0 5px 0 5px;
  height:16px;   
  background:url(../images/autocomplete/item_right.gif) no-repeat right center;
}

.dashboard-list h2{
  border-bottom: 1px solid #cccccc;
}

.highlight{
  background-color: #ffff88;
}

/* 
#left-column-wrapper{
  float: left;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
}

#left-column {
  font-size: 100%;
}
*/

#admin-tabs a{
  display: block;
  float: left;
  background-color: #aaaaaa;
  padding: .25em .5em .25em .5em;
  margin: 0em .5em 0em 0em;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

#admin-tabs a:hover{
  color: white;
  text-decoration: underline;
}


#right-column-wrapper {
  float: left;
  width: 318px;
  background-color: #cccccc;
  padding: 15px;

}

#right-column {
  font-size: 100%;
}

#right-column div.section{
  margin-bottom: 2em;
}

.asc, .desc{
  background: #e4e4e4 center right url('../icons/bullet_arrow_down.png') no-repeat;
  padding-right: 16px;
}

.desc{
  background-image: url('../icons/bullet_arrow_up.png');
}

#footer {
  font-family: Arial, sans-serif;
  font-size: 10px;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#campaign_template {
  float: left;
}
#campaign_legend {
  float: left;
  padding: 2em;
}

#campaign_legend li {
  list-style: none;
  margin-left: -2.5em;
}

.contact-cart-remove-contact {
  float: left;
}

.contact-cart-name {
  float: left;
}
