<div id="left-column-wrapper">
  <div id="left-column">
    <h1 id="admin-tags">Tags</h1>
    <div id="admin-tags-actions">
      <%= link_to 'Edit Tags', :controller => '/admin/tag' %>
    </div>
    <h1 id="admin-contacts">Contacts</h1>
    <div id="admin-contacts-actions">
      <%= link_to 'Manage Contacts', :controller => '/admin/contact' %>
    </div>
  </div>
</div>
