<li class="pui-autocomplete-box" id="tag-<%= existing_tags.id %>">
  <span><%= existing_tags.hierarchical_title %></span>
  <%= hidden_field_tag 'contact[tag_ids][]', existing_tags.id %>
  <a id="remove-tag-<%= existing_tags.id %>"></a>
</li> 
