<div id="exports">
  <h2>Exports</h2>
  <%= link_to('csv', :export => 'csv', :q => params[:q], :excluded_tags => params[:excluded_tags], :included_tags => params[:included_tags], :tags_to_include => params[:tags_to_include], :tags_to_exclude => params[:tags_to_exclude]) %>
  <%= link_to('xml', :export => 'xml', :q => params[:q], :excluded_tags => params[:excluded_tags], :included_tags => params[:included_tags], :tags_to_include => params[:tags_to_include], :tags_to_exclude => params[:tags_to_exclude]) %>
</div>
