<% if flash[messages.to_sym] -%>
  <div id="<%= messages %>">
    <%= flash[messages.to_sym] %>
    <%= javascript_tag(visual_effect(:pulsate, messages)) %>
  </div>
  <% flash[messages.to_sym] = nil -%>
<% end %>
