<%= hidden_field_tag 'note[user_id]', @session_user.id %> 
<%= hidden_field_tag 'note[contact_id]', @contact.id %>
<p class="field"><label for="note[note]">Note:</label> 
<%= text_area_tag 'note[note]', '', :size => '40x4' %><br/>
<%= submit_to_remote('create_note', 'Add Note', :url => {:controller => '/admin/note', :action => 'edit'},
  :update => {:success => 'existing-notes', :failure => 'existing-notes'}) %>
</p>
