<div class="existing-notes">
  <table id="notes-list">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Note:</th>
        <th>Priority:</th>
        <th>Follow-up:</th>
      </tr>
    </thead>
    <tbody id="existing-notes-<%= @contact.id %>">
      <% unless @contact.notes.blank? %>
        <%= render :partial => 'shared/note', :collection => @contact.notes, :locals => {:new_object_id => nil} %>
      <% else %>
        <tr><td>No notes for this contact.</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
