<h2 class="saved_search_ran">You just ran a saved search!</h2>
<p>You're seeing the results below because you just ran the saved search: <strong><%= link_to(ss.name, :controller => '/saved_searches', :action => :run, :id => ss.name) %></strong></p>
