%ul#contact_cart_listings
  - cart.contacts.each do |contact|
    %li.contact_cart_listing
      = contact.name_for_display
      = link_to icon (:vcard_delete), contact_cart_remove_contact_path(cart, :contact_to_remove_id => contact.id, :return_to => url_for(sanitized_url_params) )