<h1>Contacts</h1>
<% unless @contacts.blank? %>
<div id="admin-list">
  <table border="0" width="100%">
    <tr>
      <th>Name:</th>
      <th>Emails:</th>
      <th>Notes:</th>
      <th>Actions:</th>
    </tr>
  <%= render :partial => 'shared/contact_line', :collection => @contacts %>  
  </table>
</div>
<% else %>
  <h2>None!</h2>
<% end %>

<div class="new-object">
  <%= link_to(icon(:add) + ' New contact', :action => :edit) %>
</div>
